# Ignorer l'environnement virtuel
.venv/

# Fichiers temporaires Python
__pycache__/
*.pyc

# Fichiers système macOS
.DS_Store

# Dossiers temporaires Jupyter
.ipynb_checkpoints/

#Ignorer Data.zip
Week5/Day3/ExerciceXP/Data.zip

#Ignorer tous .csv
*.csv
*.pt
