# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/
env/
venv/

# PyTorch checkpoints and models
model*/
*.pt
*.pth

# LoRA-related files
lora*/
*.safetensors

# Dataset and cache directories
data/
cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

#Ignore all zip files
*.zip

#Ignore .env file
.env
*.env

#Ignore models
*.gguf
llama.ccp
